.popup__image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.popup__accept-delete-img{
  min-height: 181px;
  padding: 30px;
}

.popup__accept-delete-title {
  margin-top: 5px;
  margin-left: 5px;
}

.popup__accept-button {
  margin-top: 34px;
}